<br/>
<br/>
<br/>
<% include ../../assets/templates/barraestatica.ejs %>
    <link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common.min.css" rel="stylesheet" type="text/css">
    <link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.default.min.css" rel="stylesheet" type="text/css">
    <script src="https://kendo.cdn.telerik.com/2017.1.118/js/kendo.all.min.js"></script>
    <br/>
    <br/>
    <br/>
    <div id="grid"></div>
    <script id="template" type="text/x-kendo-template">
        <div>
            <span>Parte:</span>
            <input type="text" name="part" id="part" data-bind: "value:Id" />
        </div>
        <div>
            <span>Descripción:</span>
            <textarea type="text" name="description" data-bind="value:Description" class="k-textbox"></textarea>
        </div>
        <h3>Opciones de respuesta</h3>
        <div>
            <span>Tipo de respuesta:</span>
            <input type="text" name="responseType" id="responseType" />
        </div>
        <div id="containerOptionText" style="display:none;">
            <div>
                <span>Opción 1:</span>
                <textarea type="text" name="option1" class="k-textbox"></textarea>
            </div>
            <div>
                <span>Opción 2:</span>
                <textarea type="text" name="option2" class="k-textbox"></textarea>
            </div>
            <div>
                <span>Opción 3:</span>
                <textarea type="text" name="option3" class="k-textbox"></textarea>
            </div>
            <div>
                <span>Opción 4:</span>
                <textarea type="text" name="option4" class="k-textbox"></textarea>
            </div>
        </div>
        <div id="containerOptionAudio" style="display:none;">
            <div>
                <span>Opcion 1:</span>
                <input type="file" name="UploadAudio1" id="UploadAudio1">
                <textarea type="text" name="DescriptionAudioOption1" class="k-textbox"></textarea>
            </div>
            <div>
                <span>Opcion 2:</span>
                <input type="file" name="UploadAudio2" id="UploadAudio2">
                <textarea type="text" name="DescriptionAudioOption2" class="k-textbox"></textarea>
            </div>
            <div>
                <span>Opcion 3:</span>
                <input type="file" name="UploadAudio3" id="UploadAudio3">
                <textarea type="text" name="DescriptionAudioOption3" class="k-textbox"></textarea>
            </div>
            <div>
                <span>Opcion 4:</span>
                <input type="file" name="UploadAudio4" id="UploadAudio4">
                <textarea type="text" name="DescriptionAudioOption4" class="k-textbox"></textarea>
            </div>
        </div>
        <div id="containerOptionImage" style="display:none;">
            <div>
                <span>Opcion 1:</span>
                <input type="file" name="UploadImage1" id="UploadImage1">
                <span>Descripción:</span>
                <textarea type="text" name="DescriptionImageOption1" class="k-textbox"></textarea>
            </div>
            <div>
                <span>Opcion 2:</span>
                <input type="file" name="UploadImage2" id="UploadImage2">
                <span>Descripción:</span>
                <textarea type="text" name="DescriptionImageOption2" class="k-textbox"></textarea>
            </div>
            <div>
                <span>Opcion 3:</span>
                <input type="file" name="UploadImage3" id="UploadImage3">
                <span>Descripción:</span>
                <textarea type="text" name="DescriptionImageOption3" class="k-textbox"></textarea>
            </div>
            <div>
                <span>Opcion 4:</span>
                <input type="file" name="UploadImage4" id="UploadImage4">
                <span>Descripción:</span>
                <textarea type="text" name="DescriptionImageOption4" class="k-textbox"></textarea>
            </div>
        </div>

    </script>

    <script src="/scripts_business/manage_question.js"></script>
    <script>
        $(document).ready(function() {
            manageQuestion.fn.init();
        });
    </script>