<br/>
<br/>
<br/>
<script src="/js/jquery.min.js"></script>
<% include ../../assets/templates/barraestatica.ejs %>
<link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common.min.css" rel="stylesheet" type="text/css">
<link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.default.min.css" rel="stylesheet" type="text/css">
<script src="https://kendo.cdn.telerik.com/2017.1.118/js/kendo.all.min.js"></script>
<br/>
<br/>
<br/>
<div id="grid"></div>
<script id="template" type="text/x-kendo-template">
    <div>
        <span>Descripción:</span>
        <input type="text" name="description" data-bind="value:Description" class="k-textbox" />
    </div>
    <div>
        <span>Parte:</span>
        <input type="text" name="part" data-bind="value:Part" class="k-textbox" />
    </div>
    
</script>

<script src="/scripts_business/manage_question.js"></script>
<script>
    $(document).ready(function() {
        manageQuestion.fn.init();
    });
</script>