<br/>
<br/>
<br/>
<!--<script src="/js/jquery.min.js"></script>-->
<% include ../../assets/templates/barraestatica.ejs %>
<link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common.min.css" rel="stylesheet" type="text/css">
<link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.default.min.css" rel="stylesheet" type="text/css">

<br/>
<br/>
<br/>
<div id="grid"></div>
<script id="template" type="text/x-kendo-template">
    <div>
        <span>Descripcion:</span>
        <Textarea type="text" name="Description" data-bind="value:Description" class="k-textbox" required />
    </div>
    <div>
        <span>Procedimiento:</span>
        <Textarea type="text" name="Procedure" data-bind="value:Procedure" class="k-textbox" required />
    </div>
       <div>
        <span>Tiempo de cambio:</span>
        <input type="text" size="70" name="change" id="change" required />
    </div>
</script>

<script src="/scripts_business/manage_maintenance.js"></script>
<script>
    $(document).ready(function() {
        manageMaintenance.fn.init();
    });
</script>