<ion-view view-title="HOME">
  <ion-content>
    
    <div >

    	<h2 align="center">Datos del automovil</h2>
    	<div class="row">
  			<div class="col col-20" align="center" style="border: 1px solid gray"><img src="renault.jpg" align="left"><br><br><br><br><br><br><br><br><br><h4>Renault logan</h4></div>
		</div>
		<div class="row"> 
			<div class="col col-10" style="border: 1px solid gray" align="right"><b>Placa:</b> </div>
			<div class="col col-10" style="border: 1px solid gray" align="left">WRT-342</div>
		</div>
		<div class="row"> 
			<div class="col col-10" style="border: 1px solid gray" align="right"><b>Modelo (año):</b> </div>
			<div class="col col-10" style="border: 1px solid gray" align="left">2011</div>
		</div>
		<div class="row"> 
			<div class="col col-10" style="border: 1px solid gray" align="right"><b>Kilometraje actual:</b> </div>
			<div class="col col-10" style="border: 1px solid gray" align="left">15000 km</div>
		</div>
		<div class="row"> 
			<div class="col col-10" style="border: 1px solid gray" align="right"><b>Tipo Combustible:</b> </div>
			<div class="col col-10" style="border: 1px solid gray" align="left">Gasolina</div>
		</div>
		<div class="row"> 
			<div class="col col-10" style="border: 1px solid gray" align="right"><b>clase de vehiculo:</b> </div>
			<div class="col col-10" style="border: 1px solid gray" align="left">Sedan</div>
		</div>
    </div>
	</ion-content>
</ion-view>