<ion-view view-title="MANTENIMIENTO">
  <ion-content>
    
    <div >

    	<h3 align="center">Seleccione el mantenimiento para el cual desea configurar una notificacion de recordatorio</h3>
    	<div class="row">
              <div class="col" align="center" backgraund="gray" style="border: 1px solid gray">
                  Resultados
                </div>
          </div>
            <div class="row">
              <div class="col" align="center" style="border: 1px solid gray">
                <ion-list>
                  <ion-item href="#/app/confignotificacion"><i class="icon ion-wrench"></i> Rotacion de llantas 17.000 Km</ion-item>
                  <ion-item><i class="icon ion-wrench"></i> Alineacion y balanceo - 16.000 Km</ion-item>
                  <ion-item><i class="icon ion-wrench"></i> Cambio de aceite - 20.000 Km</ion-item>
                  <ion-item><i class="icon ion-wrench"></i> cambio de bateria <i class="icon ion-ios-calendar-outline"></i></ion-item>
                </ion-list> 
              </div>
            </div>
		
    </div>
	</ion-content>
</ion-view>