<ion-view view-title="Tips">
  <ion-content>
    
    <div >

    	<h2 align="center">Consejos utiles</h2>
    	<div class="row">
        <div class="col" align="center" style="border: 1px solid gray">
        <b>- verificar la medida del aceite:</b>
        <br>
        para garantizar un correcto funcionamiento del vehiculo se debe mantener los niveles del aceite en 3/4 como minimo 
        
         </div>
      </div>
    <div class="row">
      <div class="col" align="center" style="border: 1px solid gray">
        <b>- verificar el aire de las llantas</b>
        <br>
        para evitar posibles fallas y/o accidentes lo mas recomendable es siempre tener las llantas bien infladas
    </div>
		
    </div>
	</ion-content>
</ion-view>