<br/>
<br/>
<script src="/js/jquery.min.js"></script>
<% include ../../assets/templates/barraestatica.ejs %>
<link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common.min.css" rel="stylesheet" type="text/css">
<link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.default.min.css" rel="stylesheet" type="text/css">

<br/>
<br/>
<br/>
<br/>
<div id="grid"></div>
<script id="template" type="text/x-kendo-template">
    <div>
        <tr>
            <td width="70%"><span>Descripción:</span></td>
            <td width="50%"><textarea type="text" name="description" data-bind="value:Description" class="k-textbox" required /></td>
        </tr>
    </div>
    <div>
        <tr>
            <td width="70%"><span width="70%">Url:</span></td>
            <td width="50%"><input type="text" name="url" data-bind="value:Url" class="k-textbox" required /></td>
            </tr>
    </div>
    <div>
        <span>Proceso</span>
        <textarea type="text" name="proccess" data-bind="value:Proccess" class="k-textbox" required />
    </div>    
</script>

<script src="/scripts_business/manage_suggestion.js"></script>
<script>
    $(document).ready(function() {
        manageSuggestion.fn.init();
    });
</script>