<br/>
<br/>
<script src="/js/jquery.min.js"></script>
<% include ../../assets/templates/barraestatica.ejs %>
<link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common.min.css" rel="stylesheet" type="text/css">
<link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.default.min.css" rel="stylesheet" type="text/css">

<br/>
<br/>
<br/>
<br/>
<div id="grid"></div>
<script id="template" type="text/x-kendo-template">
    <div>
        <span>Descripción:</span>
        <textarea type="text" name="description" data-bind="value:Description" class="k-textbox" />
    </div>
    <div>
        <span>Id marca:</span>
        <input type="text" name="brand" data-bind="value:Brand" class="k-textbox" />
    </div>
</script>

<script src="/scripts_business/manage_model.js"></script>
<script>
    $(document).ready(function() {
        manageModel.fn.init();
    });
</script>