<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title" align="center">DIAGNOSTICO</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeDiagnosticos()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
          <h5>el sistema encontro los siguientes diagnosticos respecto a la falla ingresada</h5>
          <div class="row">
            <b>"dificultades en el arranque del motor"</b>
          </div>
          <br>
          <div class="row">
              <div class="col" align="center" backgraund="gray" style="border: 1px solid gray">
                  Resultados
                </div>
          </div>
            <div class="row">
                <div class="col" align="center" style="border: 1px solid gray">
                <ion-list>
                <ion-item><i class="icon ion-android-clipboard"></i> Bateria descargada</ion-item>
                <ion-item><i class="icon ion-android-clipboard"></i>Terminales sucios</ion-item>
              </ion-list> 
              </div>
              </div>
            <div class="padding">
              <button ng-click="closeDiagnosticos()" class="button button-block button-positive ion-checkmark-round">
                Aceptar
              </button>
            </div>
      </div>
  </ion-content>
</ion-modal-view>
