<br/>
<br/>
<br/>
<% include ../../assets/templates/barraestatica.ejs %>
    <!--esto referencia la barra estatica de navegacion-->
    <link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common.min.css" rel="stylesheet" type="text/css">
    <link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.default.min.css" rel="stylesheet" type="text/css">
    
    <br/>
    <br/>
    <br/>
    <div id="grid"></div>
    <script id="template" type="text/x-kendo-template">
        <div>
            <span>Identificación:</span>
            <input type="text" name="identification" data-bind="value:IdentificationNumber" class="k-textbox" />
        </div>
        <div>
            <span>Nombre Completo:</span>
            <input type="text" name="fullName" data-bind="value:FullName" class="k-textbox" />
        </div>
        <div>
            <span>Correo electronico</span>
            <input type="text" name="email" data-bind="value:Email" class="k-textbox" />
        </div>
        <div>
            <span>Telefono</span>
            <input type="text" name="phone" data-bind="value:Phone" class="k-textbox" />
        </div>
        <div>
            <span>Celular</span>
            <input type="text" name="cellPhone" data-bind="value:CellPhone" class="k-textbox" />
        </div>
        <div>
            <span>Usuario</span>
            <input type="text" name="username" data-bind="value:Username" class="k-textbox" />
        </div>
        <div>
            <span>Contraseña</span>
            <input type="text" name="password" data-bind="value:Password" class="k-textbox" />
        </div>
        <div>
            <span>Confimar contraseña</span>
            <input type="text" name="confirmPassword" class="k-textbox" />
        </div>
    </script>

    <script src="/scripts_business/manage_user.js"></script>
    <script>
        $(document).ready(function() {
            manageUser.fn.init();
        });
    </script>