<br/>
<br/>
<br/>
<script src="/js/jquery.min.js"></script>
<% include ../../assets/templates/barraestatica.ejs %>
<link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common.min.css" rel="stylesheet" type="text/css">
<link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.default.min.css" rel="stylesheet" type="text/css">

<br/>
<br/>
<br/>
<div id="grid"></div>
<script id="template" type="text/x-kendo-template">
    <div>
        <span>Nombre parte:</span>
        <input type="text" name="name" data-bind="value:Name" class="k-textbox" required />
    </div>
    <div>
        <span>Descripcion:</span>
        <textarea type="text" name="description" data-bind="value:Description" class="k-textbox" required />
    </div>
     <div>
        <span>Paquete:</span>
        <input type="file" name="UploadImage1" id="UploadImage1" data-option="image1" />
    </div>
    <div>
        <span>Mostrar esquema:</span>
        <input type="text" name="showScheme" id="showScheme" required />
    </div>
    
</script>

<script src="/scripts_business/manage_part.js"></script>
<script>
    $(document).ready(function() {
        managePart.fn.init();
    });
</script>