<% include ../../assets/templates/barraestatica.ejs %>
<br/>
<br/>
<div class="container">
	<div class="container">
		<h1>Pagina de Inicio<h1>
		<p class="lead">Bienvenido</p>
		<p class="lead">CarSupport le ofrece la posibilidad de administrar los datos relacionados con cada uno de los elementos que la aplicación móvil utiliza para su funcionamiento</p>
		
	</div>
</div>