<ion-view cache-view="false" title="Detalle Mantenimiento" id="page29">
    <ion-content padding="true" class="has-header">
        <ion-list id="detalleMantenimiento-list28">
            <ion-item class="item-divider" id="detalleMantenimiento-list-item-divider20">{{name}}</ion-item>
        </ion-list>
        <ion-list id="detalleMantenimiento-list29">
            <div class="item item-body" id="detalleMantenimiento-list-item-container21">
                <div id="detalleMantenimiento-markdown47" class="show-list-numbers-and-dots">
                    <p style="margin-top:0px;color:#000000;">
                        <strong>Descripcion:</strong>
                    </p>
                    <div>
                        {{procedure}}
                    </div>
                </div>
            </div>
        </ion-list>
        <div class="item item-body" id="detalleMantenimiento-list-item-container22">
            <div id="detalleMantenimiento-markdown48" class="show-list-numbers-and-dots">
                <p style="margin-top:0px;color:#000000;">
                    <strong>Fecha último mantenimiento:</strong>
                    <div> {{lastChangeDate | date:'dd MMM yyyy'}}</div>
                </p>
            </div>
        </div>
        <div class="item item-body" id="detalleMantenimiento-list-item-container23">
            <div id="detalleMantenimiento-markdown49" class="show-list-numbers-and-dots">
                <p style="margin-top:0px;color:#000000;">
                    <strong>Fecha Proximo Mantenimiento:</strong>
                    <div> {{nextChangeDate | date:'dd MMM yyyy'}} </div>
                </p>
            </div>
        </div>
        <div class="item item-body" id="detalleMantenimiento-list-item-container24">
            <div id="detalleMantenimiento-markdown50" class="show-list-numbers-and-dots">
                <p style="margin-top:0px;color:#000000;">
                    <strong>Lugar:</strong>
                </p>
                <div> {{place}} </div>
            </div>
        </div>
        <button id="detalleMantenimiento-button28" class="button button-positive btn-generic-positive  button-block">Adjuntar Evidencias</button>
    </ion-content>
</ion-view>