<ion-view title="Detalle Mantenimiento" id="page29">
    <ion-content padding="true" class="has-header">
        <ion-list id="detalleMantenimiento-list28">
            <ion-item class="item-divider" id="detalleMantenimiento-list-item-divider20"> Rotación de llantas</ion-item>
        </ion-list>
        <ion-list id="detalleMantenimiento-list29">
            <div class="item item-body" id="detalleMantenimiento-list-item-container21">
                <div id="detalleMantenimiento-markdown47" class="show-list-numbers-and-dots">
                    <p style="margin-top:0px;color:#000000;">
                        <strong>Detalle de procedimiento:</strong>
                    </p>
                    <div>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                        with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
            </div>
        </ion-list>
        <div class="item item-body" id="detalleMantenimiento-list-item-container22">
            <div id="detalleMantenimiento-markdown48" class="show-list-numbers-and-dots">
                <p style="margin-top:0px;color:#000000;">
                    <strong>Fecha:</strong>
                    <div> 05-Mayo-2017 </div>
                </p>
            </div>
        </div>
        <div class="item item-body" id="detalleMantenimiento-list-item-container23">
            <div id="detalleMantenimiento-markdown49" class="show-list-numbers-and-dots">
                <p style="margin-top:0px;color:#000000;">
                    <strong>Fecha Proximo Mantenimiento:</strong>
                    <div> 05-Noviembre-2017 </div>
                </p>
            </div>
        </div>
        <div class="item item-body" id="detalleMantenimiento-list-item-container24">
            <div id="detalleMantenimiento-markdown50" class="show-list-numbers-and-dots">
                <p style="margin-top:0px;color:#000000;">
                    <strong>Lugar:</strong>
                </p>
                <div> La maquinita en servicios </div>
            </div>
        </div>
        <button id="detalleMantenimiento-button28" class="button button-positive btn-generic-positive  button-block">Adjuntar Evidencias</button>
    </ion-content>
</ion-view>