<ion-view cache-view="false" title="Detalle Foro" id="page17">
    <ion-content padding="true" class="has-header">
        <ion-list id="detalleForo-list12">
            <ion-item class="item-divider" id="detalleForo-list-item-divider13"> Respuesta</ion-item>
        </ion-list>
        <div class="item item-body" id="detalleForo-list-item-container7">
            <div id="detalleForo-markdown24" class="show-list-numbers-and-dots desc-fail">
                <p style="margin-top:0px;color:#000000;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
            </div>
        </div>
        <div class="spacer" style="width: 300px; height: 43px;"></div>
        <div id="detalleForo-markdown25" class="show-list-numbers-and-dots">
            <p style="color:#000000;">Califique la respuesta:</p>
        </div>
        <div>
            <img src="img/eFjNzJRQnGlbuKWfwN0J_stars.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="menu.home" id="detalleForo-button15" class="button button-positive btn-generic-positive 
 button-block icon ion-checkmark">Aceptar</a>
    </ion-content>
</ion-view>