<ion-view cache-view="false" title="Foro" id="page16">
    <ion-content padding="true" class="has-header">
        <div id="foro-markdown18" class="show-list-numbers-and-dots">
            <p style="color:#000000;">El sistema ha encontrado las siguientes opiones de otros usuarios respecto a la pregunta ingresada:</p>
        </div>
        <div id="foro-markdown21" style="text-align:center;" class="show-list-numbers-and-dots desc-fail">
            <p style="color:#000000;">
                <strong>Tengo problemas al arrancar en un spark gt</strong>
            </p>
        </div>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <div id="foro-markdown22" class="show-list-numbers-and-dots">
            <p style="color:#000000;">Seleccione el resultado deseado para ver en detalle.</p>
        </div>
        <ion-list id="foro-list9">
            <ion-item class="item-divider" id="foro-list-item-divider12"> Respuestas</ion-item>
            <ion-item class="item-icon-left item-icon-right" id="foro-list-item45" ui-sref="menu.detailForum">
                <i class="icon No Icon"></i>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                <i class="icon ion-ios-checkmark"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" id="foro-list-item47">
                <i class="icon No Icon"></i>Aliquam tincidunt mauris eu risus.
                <i class="icon ion-ios-checkmark"></i>
            </ion-item>
            <ion-item class="item-icon-left" id="foro-list-item48">
                <i class="icon No Icon"></i>Vestibulum auctor dapibus neque.</ion-item>
            <ion-item class="item-icon-left" id="foro-list-item49">
                <i class="icon No Icon"></i>Nunc dignissim risus id metus.</ion-item>
        </ion-list>
    </ion-content>
</ion-view>