<ion-view cache-view="false" title="Fallas Frecuentes" id="page10">
    <ion-content class="has-header-fq">
        <ion-tabs class="tabs-icon-top tabs-positive">
            <ion-tab title="Fallas Frecuentes" icon="ion-settings">
                <ion-view>
                    <ion-content>
                        <div class="list card" ng-repeat="fault in breakdown | filter:{ FrecuentFault: true }">
                            <div class="item item-avatar" ng-click="goto('menu.detailFaults',fault.Id)">
                                <img src="{{urlBack}}{{fault.Part.Path}}" />
                                <h2>{{fault.Name}}</h2>
                                <p>{{fault.Part.Name}}</p>
                            </div>
                            <div class="item item-image">
                                <img style="position: absolute; top: 0px; left: 0px; z-index: 102;" alt="" src="{{urlBack}}{{fault.PathImage}}" />
                            </div>
                            <div class="item-description">
                                {{fault.Description}}
                            </div>
                        </div>
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="Consultar posibles Fallas" icon="ion-help">
                <ion-view>
                    <ion-content>
                        <div class="spacer" style="width: 300px; height: 30px;"></div>
                        <div class="info-possible-failures">
                            <p class="desc-fail" style="margin-left: 10px;margin-right: 10px;padding:5px">
                                A continuación la aplicación realizara una serie de preguntas para determinar las posibles fallas presentadas en su automóvil, Por favor haga clic en la siguiente opción para iniciar la asesoría </p>
                        </div>
                        <div class="spacer" style="width: 300px; height: 30px;"></div>
                        <div class="start-possible-failures">
                            <a class="button button-block button-dark" ng-click="goto('menu.question')">Iniciar</a>
                        </div>
                    </ion-content>
                </ion-view>
            </ion-tab>
        </ion-tabs>
    </ion-content>
</ion-view>