<ion-view title="Fallas Frecuentes" id="page10">
    <ion-content class="has-header-fq">
        <ion-tabs class="tabs-icon-top tabs-positive">
            <ion-tab title="Fallas Frecuentes" icon="ion-settings">
                <ion-view>
                    <ion-content>
                        <div class="list card">
                            <div class="item item-avatar">
                                <img src="img/allow.jpg">
                                <h2>Impactos contra elementos extraños</h2>
                                <p>Llantas</p>
                            </div>
                            <div class="item item-image">
                                <img style="position: absolute; top: 0px; left: 0px; z-index: 102;" alt="" src="img/golpe.jpg" />
                            </div>
                            <div class="item-description">
                                Esta es una de las causas más frecuentes de daños en la llanta, debido a que la llanta está expuesta a todas las condiciones del terreno y a juzgar por el estado de las vías en nuestro país, es una de las variables que juega en contra de la durabilidad
                                de la llanta. Aquí les relacionamos las principales averías ocasionadas por impactos.
                            </div>
                            <div class="item item-avatar">
                                <img src="img/allow.jpg">
                                <h2>Cortes en la banda de rodamiento</h2>
                                <p>Llantas</p>
                            </div>
                            <div class="item item-image" style="position: relative; height: 0px; padding-bottom: 48%; ">
                                <img style="position: absolute; top: 0px; left: 0px; z-index: 102;" alt="" src="img/neumatico-pinchado.jpg" />
                            </div>
                            <div class="item-description">
                                Son los cortes que se producen por objetos que pisamos con la llanta tales como: puntillas, varillas, tornillos y todo tipo de objeto punzante o filoso.
                            </div>
                        </div>
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="Consultar posibles Fallas" icon="ion-help">
                <ion-view>
                    <ion-content>
                        <button class="button button-assertive" ng-click="stopPlayback()">Stop all</button>
                        <ion-audio-track ng-repeat="track in tracks" track="track">
                            <div class="card">
                                <div class="item">
                                    <h2>{{track.title}}</h2>

                                    <p>{{track.artist}}</p>
                                    <ion-audio-controls>
                                        <a class="button button-icon icon" ion-audio-play></a>
                                        <ion-spinner icon="ios" style="position: relative; top: 8px; left: 4px"></ion-spinner>
                                    </ion-audio-controls>
                                </div>
                                <div class="item item-divider">
                                    <ion-audio-progress-bar track="track" display-time></ion-audio-progress-bar>
                                </div>
                            </div>
                        </ion-audio-track>
                    </ion-content>
                </ion-view>
            </ion-tab>
        </ion-tabs>
    </ion-content>
</ion-view>