<ion-view title="Historial de Fallas" id="page23">
    <ion-content padding="true" class="has-header">
        <ion-list id="historialDeFallas-list11">
            <ion-item class="item-icon-left" id="historialDeFallas-list-item62">
                <i class="icon ion-alert-circled"></i>Fallas:</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <ion-list id="historialDeFallas-list16">
            <ion-item id="historialDeFallas-list-item69" ng-click="goto('menu.detailFaults',item.Breakdown.Id,false)" ng-repeat="item in bdownUser">{{item.Breakdown.Name}}</ion-item>
        </ion-list>
        <a ui-sref="menu.selectPart" id="historialDeFallas-button17" class="button button-positive button-large btn-add-fail">+</a>
    </ion-content>
</ion-view>