<ion-view cache-view="false" title="Home" id="page1">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <div class="car-container" ng-repeat="item in Cars">
            <ion-list id="home-list3">
                <ion-item class="item-avatar" id="home-list-item4">
                    <img src="{{urlBack}}{{item.Brand.PathImage}}">
                    <h2>{{item.Brand.Description}} </h2>
                    <p>{{item.Model.Description}}</p>
                </ion-item>
                <div class="item item-body" id="home-list-item-container3">
                    <div id="home-markdown7" class="show-list-numbers-and-dots">
                        <p style="margin-top:0px;color:#000000;">
                            <strong style="margin-right: 3px;">Placa:</strong>{{item.LicensePlate}}</p>
                    </div>
                    <div id="home-markdown10" class="show-list-numbers-and-dots">
                        <p style="color:#000000;">
                            <strong style="margin-right: 3px;">Modelo (Año):</strong>{{item.Year}}</p>
                    </div>
                    <div id="home-markdown8" class="show-list-numbers-and-dots">
                        <p style="color:#000000;">
                            <strong style="margin-right: 3px;">Kilometraje Actual (KM):</strong> {{item.CurrentMileage}}</p>
                    </div>
                    <div id="home-markdown9 " class="show-list-numbers-and-dots ">
                        <p style="color:#000000; ">
                            <strong style="margin-right: 3px; ">Tipo Combustible:</strong> {{item.FuelType}}</p>
                    </div>
                    <div id="home-markdown11 " class="show-list-numbers-and-dots ">
                        <p style="color:#000000; ">
                            <strong style="margin-right: 3px; ">Clase de vehiculo:</strong>{{item.Class}} </p>
                    </div>
                    <div id="home-markdown11 " class="show-list-numbers-and-dots ">
                        <p style="color:#000000; ">
                            <strong style="margin-right: 3px; ">Valor Comercial:</strong>$23'000.000</p>
                    </div>
                    <div id="home-markdown11 " class="show-list-numbers-and-dots ">
                        <p style="color:#000000; ">
                            <strong style="margin-right: 3px; ">Estado del soat:</strong>Vigente</p>
                    </div>
                    <div id="home-markdown11 " class="show-list-numbers-and-dots ">
                        <p style="color:#000000; ">
                            <strong style="margin-right: 3px; ">Revisión técnico mecánica y de gases:</strong>Vigente</p>
                    </div>
                </div>
        </div>
        </ion-list>
    </ion-content>
    <button class="button button-positive button-float" ng-click="goto('registerAuto')">
        <i class="icon ion-plus"></i>
    </button>
</ion-view>