<ion-view cache-view="false" title="Remitir a Foro" id="page15">
    <ion-content padding="true" class="has-header">
        <div id="remitirAForo-markdown15" class="show-list-numbers-and-dots">
            <p style="color:#000000;">Ingrese la descripción de la falla que presenta su autómovil:</p>
        </div>
        <div class="spacer" style="width: 300px; height: 24px;"></div>
        <form id="remitirAForo-form12" class="list">
            <label class="item item-input" id="remitirAForo-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
        </form>
        <a ui-sref="menu.forum" id="remitirAForo-button11" class="button button-positive btn-generic-positive button-block icon-right ion-android-arrow-forward">Enviar</a>
    </ion-content>
</ion-view>