<ion-view cache-view="false" title="Main" hide-nav-bar="true" id="page4">
    <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
        <div id="main-container2" class="div-register">
            <div class="img-main">
                <img src="img/SvU8vRuaSPmvt7A82Mer_ws_Volkswagen_GTI_Interior_1920x1440.jpg" style="display: block; width: 100%; height: 645px; margin-left: auto; margin-right: auto;">
            </div>
            <a ui-sref="registerUser" id="main-button1" class="btn-generic-positive  button button-positive  btn-register">Registrarse </a>
            <a ui-sref="login" id="main-button2" class="btn-generic-positive button button-positive  btn-login">Iniciar Sección</a>
        </div>
    </ion-content>
</ion-view>