<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu-content"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu-content">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header my-container" ng-init="init()">
            <ion-list id="menu-list1">
                <ion-item class="item-avatar transp" id="menu-list-item70">
                    <img ng-hide="{{showImage}}" ng-src="{{profileData.picture.data.url}}">
                    <h2> <i ng-show="{{showImage}}" class="icon ion-android-contact"></i> {{profileData.name}}
                    </h2>
                </ion-item>
                <ion-item class="item-icon-right transp" id="menu-list-item1" ui-sref="menu.home" menu-close="">Home
                    <i class="icon ion-android-home"></i>
                </ion-item>
                <ion-item class="item-icon-right transp" id="menu-list-item2" ui-sref="menu.historyFailures" menu-close="">Fallas
                    <i class="icon ion-wrench"></i>
                </ion-item>
                <ion-item class="item-icon-right transp" id="menu-list-item3" ui-sref="menu.historyMaintenance" menu-close="">Mantenimiento
                    <i class="icon ion-clipboard"></i>
                </ion-item>
                <ion-item class="item-icon-right transp" id="menu-list-item25" ui-sref="menu.tips" menu-close="">Tips
                    <i class="icon ion-ios-help"></i>
                </ion-item>
                <ion-item class="item-icon-right transp" id="menu-list-item26" menu-close="" ng-click="logout();">Cerrar Sesión
                    <i class="icon ion-log-out"></i>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>