<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item class="item-avatar" id="menu-list-item70">
          <img src="img/xRyc1WfrR7qOF7qkqYWE_16473468_10211622399216166_6899831508388822297_n.jpg">
          <h2>Juan Hincapie</h2>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item1" ui-sref="menu.home" menu-close="">Home
          <i class="icon ion-android-home"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item2" ui-sref="menu.historialDeFallas" menu-close="">Fallas
          <i class="icon ion-wrench"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item3" ui-sref="menu.historialDeMantenimientos" menu-close="">Mantenimiento
          <i class="icon ion-clipboard"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item25" ui-sref="menu.recomendaciones" menu-close="">Tips
          <i class="icon ion-ios-help"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item26" ui-sref="menu.remitirAForo" menu-close="">Foro
          <i class="icon ion-android-contacts"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>