<ion-view title="Seleccionar Parte" id="page10">
    <ion-content padding="true" class="has-header">
        <div id="seleccionarParte-markdown12" class="show-list-numbers-and-dots">
            <p style="color:#000000;">Seleccione en la imagen la parte del automóvil que está presentando la falla:</p>
        </div>
        <div>
            <div class="interactive-image" id="interactiveI">
            </div>
            <div id="seleccionarParte-markdown13" class="show-list-numbers-and-dots">
                <p style="color:#000000;">Si no conoce o no se encuentra en la imagen la parte afectada, seleccione la opción:
                    <strong>2</strong>
                </p>
            </div>
            <div id="seleccionarParte-button-bar1" class="button-bar">
                <button id="seleccionarParte-button13" class="button button-positive  button-block">1</button>
                <a ui-sref="menu.registrarFalla" id="seleccionarParte-button14" class="button button-positive  button-block button-outline">2</a>
            </div>
        </div>
    </ion-content>
</ion-view>