<ion-view title="Configurar Notificaciones" id="page22">
    <ion-content padding="true" class="has-header">
        <ion-list id="cambioFechas-list10">
            <ion-item class="item-divider" id="cambioFechas-list-item-divider14"> Rotación de Llantas</ion-item>
        </ion-list>
        <div class="item item-body" id="cambioFechas-list-item-container11">
            <div id="cambioFechas-markdown27" class="show-list-numbers-and-dots">
                <p style="margin-top:0px;color:#000000;">Seleccione la fecha que desea que el sistema le recuerde el mantenimiento seleccionado.</p>
            </div>
            <form id="cambioFechas-form13" class="list">
                <label class="item item-input" id="cambioFechas-input16">
          <input type="date" placeholder="Seleccione...">
        </label>
            </form>
            <div class="item item-body" id="detalleMantenimiento-list-item-container24">
                <div id="detalleMantenimiento-markdown50" class="show-list-numbers-and-dots">
                    <div id="cambioFechas-markdown27" class="show-list-numbers-and-dots">
                        <p style="margin-top:0px;color:#000000;">Lugar</p>
                    </div>
                    <div> <input type="text" /></div>
                </div>
            </div>
            <a ui-sref="menu.historyMaintenance" id="cambioFechas-button16" class="button button-positive btn-generic-positive  button-block icon-left ion-android-alarm-clock">Configurar Notificación</a>
        </div>
    </ion-content>
</ion-view>