<ion-view cache-view="false" title="Recomendaciones" id="page18">
    <ion-content padding="true" class="has-header">
        <div id="recomendaciones-markdown26" class="show-list-numbers-and-dots">
            <p style="color:#000000;">Las siguientes son recomendaciones sencillas que cualquier propietario puede practicar en su automóvil</p>
        </div>
        <ion-list id="recomendaciones-list13">
            <ion-item class="item-thumbnail-left" id="recomendaciones-list-item50" ui-sref="menu.detailTips">
                <img src="img/ILNtqqNLStKXqwUTGB1A_llanta.jpg">
                <h2>Como cambiar la llanta de un autómovil</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="recomendaciones-list-item51">
                <img src="img/fajTjCoSBy4kZDms4u5C_luces.jpg">
                <h2>Como cambiar las luces fundidas</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="recomendaciones-list-item52">
                <img src="img/i7bPSzEkSFWnYPrs6aPk_bateria.jpg">
                <h2>Como cambiar la bateria</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="recomendaciones-list-item53">
                <img src="img/sX6bH3NBQsqOo3c5fbqo_Lavar-Y-Encerar-Tu-Auto.jpg">
                <h2>Forma correcta de lavar y encerar un auto</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>